$accent-color: #28a745;
$use-accent-color: #0284d0;

$text-color-white: #ffffff;
$hero-color-white: #e9e9e9;
$text-color-dark: #333333;

$background-color-dark: #333333;
$background-color-white: #f4f4f4;
$background-color-light: #e5e5e5;

/* Шрифты */
$fonts-main-page: 'Open Sans';

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 500ms;
