<section id="contact" class="contact">
    <div class="contact_context">
        <div class="img_blok">
            <picture>
                <source srcset="./images/home/contact.webp 1x, ./images/home/contact@2x.webp 2x" type="image/webp" />
                <source srcset="./images/home/contact.jpg 1x, ./images/home/contact@2x.jpg 2x" type="image/jpeg" />
                <img class="blok_picture" src="./images/home/contact.jpg" alt="foto of our team" />
            </picture>
        </div>
        <div class="content_header content_header_blog callback">
            <h2 class="content_header_callback_title">Request Callback</h2>
            
            <form class="callback_form" name="contact" method="POST" data-netlify="true">
                <input class="mail" type="text" name="username" placeholder="Enter your name" required/>      
                <input type="mail" name="mail" placeholder="Enter email*" minlength="5" maxlength="12" required/>                       
                <button class="btn btn_green-footer" type="submit">Send</button>
            </form>
           
        </div>

    </div>              
</section>