<footer class="footer">
    <div class="container">
        <ul class="social_list">
            <li><a href="https://facebook.com/" class="link" target="_blank" rel="noopener noreferer" aria-label="facebook"></a><i
                    class="fab fa-facebook"></i></li>
            <li><a href="https://twitter.com//" class="link" target="_blank" rel="noopener noreferer" aria-label="twitter"></a><i
                    class="fab fa-twitter"></i></li>
            <li><a href="https://www.youtube.com//" class="link" target="_blank" rel="noopener noreferer" aria-label="youtube"></a><i
                    class="fab fa-youtube"></i></li>
            <li><a href="https://wwwlinkedin.com/" class="link" target="_blank" rel="noopener noreferer" aria-label="linkedin"></a><i
                    class="fab fa-linkedin-in"></i></li>
        </ul>
        <p class="copirite">Copyright &copy; 2021 - FinanceLedger</p>
    </div>
    </footer>