<header class="header">
    <div class="scrollto header_container container">
        <a href="./index.html" class="logo"><i class="fas fa-book-open"></i>Finance<span
                class="logo__ledger">Ledger</span></a>
        
        <nav class="menu">
            <ul class="menu_list">
                <li class="menu_item"><a href="./index.html" class="menu_link home">Home</a></li>
                <li class="menu_item"><a href="#about" class="menu_link">About</a></li>
                <li class="menu_item"><a href="#cases" class="menu_link">Cases</a></li>
                <li class="menu_item"><a href="#blog" class="menu_link">Blog</a></li>
                <li class="menu_item"><a href="#contact" class="menu_link">Contact</a></li>
            </ul>
        </nav>
    </div>       
</header>