<section id="team" class="team">
    <div class="container">
        <div class="content_header content_header_team">
            <p class="content_header_subtitle">Who we are</p>
            <h2 class="content_header_title">Our Professional Team</h2>
            <p class="content_header_text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!
                </p>
        </div>
            <ul class="team_list">
                <li class="team_item">                 
                            <div class="thumb">
                            <picture>
                                <source srcset="./images/team/person1.webp 1x, ./images/team/person1@2x.webp 2x" type="image/webp" />
                                <source srcset="./images/team/person1.jpg 1x, ./images/team/person1@2x.jpg 2x" type="image/jpeg" />
                                <img class="blok_picture" src="./images/team/person1.jpg" alt="foto of our team" />
                            </picture>
                            <div class="social_thumb">
                              <ul class="social_list-team">
                                <li><a href="https://facebook.com/" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="facebook"></a><i class="fab fa-facebook"></i></li>
                                <li><a href="https://twitter.com//" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="twitter"></a><i class="fab fa-twitter"></i></li>
                                <li><a href="https://www.youtube.com//" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="youtube"></a><i class="fab fa-youtube"></i></li>
                                <li><a href="https://wwwlinkedin.com/" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="linkedin"></a><i class="fab fa-linkedin-in"></i></li>
                              </ul>
                            </div>
                            </div>           
                    <h3 class="team_title">John Doe</h3>
                    <p class="team_position">President</p>
                </li>

                <li class="team_item">
                    <div class="thumb">
                    <picture>
                        <source srcset="./images/team/person2.webp 1x, ./images/team/person2@2x.webp 2x" type="image/webp" />
                        <source srcset="./images/team/person2.jpg 1x, ./images/team/person2@2x.jpg 2x" type="image/jpeg" />
                        <img class="blok_picture" src="./images/team/person2.jpg" alt="foto of our team" />
                    </picture>
                             <div class="social_thumb">
                              <ul class="social_list-team">
                                <li><a href="https://facebook.com/" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="facebook"></a><i class="fab fa-facebook"></i></li>
                                <li><a href="https://twitter.com//" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="twitter"></a><i class="fab fa-twitter"></i></li>
                                <li><a href="https://www.youtube.com//" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="youtube"></a><i class="fab fa-youtube"></i></li>
                                <li><a href="https://wwwlinkedin.com/" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="linkedin"></a><i class="fab fa-linkedin-in"></i></li>
                              </ul>
                            </div>  
            </div>
                    <h3 class="team_title">Jane Doe</h3>
                    <p class="team_position">Vice President</p>
                </li>
                <li class="team_item">
                    <div class="thumb">
                    <picture>
                        <source srcset="./images/team/person3.webp 1x, ./images/team/person3@2x.webp 2x" type="image/webp" />
                        <source srcset="./images/team/person3.jpg 1x, ./images/team/person3@2x.jpg 2x" type="image/jpeg" />
                        <img class="blok_picture" src="./images/team/person3.jpg" alt="foto of our team" />
                    </picture>
                            <div class="social_thumb">
                              <ul class="social_list-team">
                                <li><a href="https://facebook.com/" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="facebook"></a><i class="fab fa-facebook"></i></li>
                                <li><a href="https://twitter.com//" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="twitter"></a><i class="fab fa-twitter"></i></li>
                                <li><a href="https://www.youtube.com//" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="youtube"></a><i class="fab fa-youtube"></i></li>
                                <li><a href="https://wwwlinkedin.com/" class="link" target="_blank" rel="noopener noreferer"
                                        aria-label="linkedin"></a><i class="fab fa-linkedin-in"></i></li>
                              </ul>
                            </div> 
                    </div>
            
                    <h3 class="team_title">Steve Smith</h3>
                    <p class="team_position">Marketing Head</p>
                </li>
            </ul>
    </div>
 
</section>